﻿@model ASP.NET_Db4o.ViewModels.OrderViewModel
<ul>
    @foreach (var item in Model.List)
    {
        <li class="well">
            @item.Key.Name  @item.Key.MesureUnit
            @Html.ActionLink("Edytuj", "ViewTree", new { name = item.Key.Name, unit = item.Key.MesureUnit }, null)
        </li>
        <text>Potrzeba</text>
    foreach (var dict in item.Value)
    {
            <li>
                @dict.Key @dict.Value
            </li>
        }
    }
</ul>
<h3>
    @using (Html.BeginForm("AddStoredList", "Data", FormMethod.Post))
    {
        <h4>Name @Html.TextBox("Name")</h4>
        <h4>Unit Mesure @Html.TextBox("Unit")</h4>
        <h4>Quantity @Html.TextBox("Quantity")</h4>
        <button class="btn btn-primary">Dodaj</button>
    }
</h3>

