﻿@model ASP.NET_Db4o.ViewModels.StViewModel

<script>
    $(document).ready(function () {
        $('#container').jstree({
            'core': {
                'data': {
                    'url': '/Data/GetJsTree3Data?name=@Model.name&unit=@Model.unit',
                    'dataType': 'json'
                }
            }
        });
        $('#container').on('select_node.jstree', function (e, data) {
            var childName = data.node.text.split(' ')[0];
            var childUnit = data.node.text.split(' ')[1];
            var childValue = data.node.text.split(' ')[2];
            var parentName = data.node.parent.split(' ')[0];
            var parentUnit = data.node.parent.split(' ')[1];
            var parentValue = data.node.parent.split(' ')[2];

            console.log(childName);
            console.log(childUnit);
            console.log(childValue);
            console.log(parentName);
            console.log(parentUnit);
            console.log(parentValue);
            window.location.href =
                "http://localhost:2258/data/EditStoredList?childName=" + childName +
                "&childUnit=" + childUnit +
                "&ParentName=" + parentName +
                "&ParentUnit=" + parentUnit +
                "&ChildValue=" + childValue;
        });
    });
</script>

<div id="container"></div>

