﻿@model ASP.NET_Db4o.ViewModels.EditStoredListViewModel
<h2>
    @Model.ChildName
    <a href="@Url.Action("DeleteStoredList", "Data", new { name = Model.ChildName, unit = Model.ChildUnit }, null)">
        <i class="fa fa-times">
        </i>
    </a>
   @Html.ActionLink("Usun z listy","DeleteFromStoredList", "Data", new { name = Model.ChildName, unit = Model.ChildUnit,parentN= Model.ParentName,parentU =Model.ParentUnit  }, null)
</h2>
<h1>
    @using (Html.BeginForm("ChalangeUnit", "Data", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.ChildName);
        @Html.HiddenFor(x => x.ChildValue);
        @Html.HiddenFor(x => x.ParentName);
        @Html.HiddenFor(x => x.ParentUnit);
        @Html.HiddenFor(x => x.ChildUnit);
        <span>
            Liczone w @Html.TextBox("NewUnit", Model.ChildUnit)
        </span>
        <button class="btn btn-primary">Zmien</button>
    }
    @using (Html.BeginForm("ChalangeQuantity", "Data", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.ChildName);
        @Html.HiddenFor(x => x.ChildUnit);
        @Html.HiddenFor(x => x.ChildValue);
        @Html.HiddenFor(x => x.ParentName);
        @Html.HiddenFor(x => x.ParentUnit);
        <span>
            Liczebność @Html.TextBox("Quantity",Model.ChildValue)
        </span>
        <button class="btn btn-primary">Zmien</button>
    }
</h1>
<h3>
    @using (Html.BeginForm("AddToStoredList", "Data", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.ChildName);
        @Html.HiddenFor(x => x.ParentName);
        @Html.HiddenFor(x => x.ParentUnit);
        @Html.HiddenFor(x => x.ChildUnit);
        @Html.HiddenFor(x => x.ChildValue);

        <h4>Name @Html.TextBox("Name")</h4>
        <h4>Unit Mesure @Html.TextBox("Unit")</h4>
        <h4>Quantity @Html.TextBox("Quantity")</h4>
        <button class="btn btn-primary">Dodaj</button>
    }
</h3>
<text>Parent name: @Model.ParentName, Parent unit: @Model.ParentUnit</text>
